<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline" class="settings-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="profile-container">
    <div class="profile-icon" [ngStyle]="{ 'background-image': 'url(' + base64Image + ')' }">
      <canvas #canvasElement style="display: none;"></canvas>
    </div>
    <app-image-uploader (imageSelected)="onImageSelected($event)"></app-image-uploader>
    <div class="nombre">
      <h1 *ngIf="userProfile">{{ userProfile.nombre }}</h1>
      <p *ngIf="userProfile">{{ userProfile.email }}</p>
    </div>
    <div class="list-recipe-box">
      <div class="options">
        <button ion-button expand="full" class="option-button" [class.selected]="selectedOption === 'listas'" (click)="selectOption('listas')">Mis Listas</button>
        <button ion-button expand="full" class="option-button" [class.selected]="selectedOption === 'recetas'" (click)="selectOption('recetas')">Mis Recetas</button>
      </div>
      <div class="underline" [ngClass]="{ 'listas': selectedOption === 'listas', 'recetas': selectedOption === 'recetas' }"></div>
    </div>
    <ion-button expand="full" fill="clear" class="create-list-button">
      Crear una Lista Nueva
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    </ion-button>
    <ion-button expand="full" fill="clear" class="favorites-button">Mis Favoritos</ion-button> 
  </div>
</ion-content>
