.background {
    background-image: url('https://i.blogs.es/6f44f2/1366_2000-7-/1366_2000.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: filter 0.5s ease-in-out;
  }
  
  #toolbar {
    width: 100%; 
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .chat-container {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
    background-color: white; /* Fondo más claro */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra para un mejor efecto visual */
    opacity: 0.85;
    display: flex;
    flex-direction: column;
  }
  
  .chat-box {
    border-bottom: 1px solid #ffffff;
    overflow-y: auto;
    background-color: white; /* Fondo blanco para el área del chat */
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin-bottom: 10px; /* Espacio entre mensajes */
    padding: 10px; /* Espaciado interno del cuadro */
    border-radius: 10px; /* Esquinas redondeadas */
    background-color: rgb(35, 35, 35); /* Fondo blanco */
    color: rgb(255, 255, 255); /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    max-width: 80%; /* Limitar el ancho para evitar que ocupe todo el espacio */
    word-wrap: break-word; /* Ajustar el texto largo */
  }

  #message-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #000000; /* Borde color para resaltar el input */
    border-radius: 20px; /* Esquinas más redondeadas */
    margin-right: 10px;
    background-color: #ffffff; 
    color: black;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco para mayor contraste */
    border-top: 2px solid #000000; /* Borde superior para resaltar */
    width: 100%;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar */
    z-index: 10; /* Asegura que el área de entrada esté por encima del chat */
  }
  
  ion-input {
    flex: 1; /* Permite que el input ocupe el espacio restante */
    padding: 10px;
    border: 1px solid #ccc; /* Ajustar el borde */
    border-radius: 5px;
    margin-right: 10px; /* Espaciado entre el input y el botón */
    color: black;
  }
  
  #send-button {
    padding: 12px 20px; /* Tamaño adecuado para el botón */
    border: none;
    background-color: #3d3d3d; /* Color del botón */
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px; /* Esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
  }
  
  #send-button:hover {
    background-color: #000000; /* Color más oscuro para el hover */
  }