<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="share">
      <ion-icon name="share"></ion-icon>
      <ion-label>Compartir</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fridge">
      <ion-icon name="reorder-three"></ion-icon>
      <ion-label>Mi Refri</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfíl</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
