<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <form (submit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>

      <!-- Nuevo botón para continuar con Google -->
      <ion-button expand="full" color="light" (click)="continueWithGoogle()">
        Continuar con Google
        <ion-icon name="logo-google" slot="start"></ion-icon>
      </ion-button>
      
      <ion-button expand="full" color="light" (click)="continueWithApple()">
        <ion-icon name="logo-apple" slot="start"></ion-icon>
        Continuar con Apple
      </ion-button>

      <ion-item>
        <ion-label>¿No tienes una cuenta?</ion-label>
        <ion-button (click)="navToRegister()">Registrarse</ion-button>
      </ion-item>
    </form>
  </div>
</ion-content>