ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative; /* Asegura que el fondo se ajuste al contenedor */
  --background: url('/assets/img/fondo_receta.jpg') no-repeat center center;
  background-size: cover; /* La imagen cubrirá el contenedor sin distorsionarse */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Mantiene el fondo fijo durante el desplazamiento */
}

.register-container {
  max-width: 100%;   /* Ajusta el ancho máximo al 100% del contenedor */
  width: 400px;     /* Define un ancho fijo para el contenedor */
  margin: 130px auto;   /* Espacio superior de 120px y centrado horizontalmente */
  padding: 20px;    /* Espacio interno para el contenido */
  border-radius: 12px; /* Esquinas redondeadas */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 2); /* Sombra suave */
  background-color: #ffffff; /* Fondo blanco para el formulario */
  position: relative; /* Mantiene el contenedor centrado */
}

.header-text {
  text-align: center; /* Centra el texto dentro del contenedor */
  margin-bottom: 20px; /* Espacio inferior para separar el texto del formulario */
}

h1, p {
  color: #000000;
  margin-top: 20px;
}

.header-text h1 {
  margin: 0; /* Elimina el margen superior e inferior */
  font-size: 1.5rem; /* Tamaño de fuente para el título */
}

.header-text p {
  margin: 0; /* Elimina el margen superior e inferior */
  font-size: 1rem; /* Tamaño de fuente para el párrafo */
}

ion-item {
  --background: #f8f9fa; /* Fondo ligeramente gris para los ítems */
  --border-radius: 8px; /* Esquinas redondeadas para los ítems */
  margin-bottom: 16px; /* Espacio inferior entre ítems */
  padding: 10px;
  --color: #000000; /* Texto en color negro */
}

ion-label, ion-input {
  --color: #000000; /* Texto en color negro */
}

.error-message {
  color: red; /* Color rojo para los mensajes de error */
  font-size: 0.875rem; /* Tamaño de fuente más pequeño para los mensajes de error */
  margin-top: 5px; /* Espacio superior para separar los mensajes de error de los campos de entrada */
}

.invalid {
  border-color: red; /* Borde rojo para campos inválidos */
}

/* Agrega el ícono sobre el contenedor */
ion-content::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px; /* Ajusta la posición vertical del ícono */
  left: 50%; /* Centra el ícono horizontalmente en el contenedor */
  transform: translateX(-50%); /* Ajusta la posición del ícono para centrarlo */
  width: 160px; /* Ajusta el tamaño del ícono */
  height: 140px; /* Ajusta el tamaño del ícono */
  background-image: url('/assets/icon/icono_receta.png'); /* Ruta del ícono */
  background-size: contain; /* Asegura que el ícono se ajuste al contenedor sin distorsionarse */
  background-repeat: no-repeat; /* Evita que el ícono se repita */
  background-position: center; /* Centra el ícono dentro del área definida */
  z-index: 2; /* Asegura que el ícono esté por encima del contenido */
}

ion-button{
  --background: #7b6b4e;     
  color: #ffffff;
}