<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon-container">
    <img src="/assets/icon/icono_receta.png" alt="Icono de Receta" />
  </div>
  <div class="register-container">
    <div class="header-text">
      <h1>Únete a RecetarIA</h1>
      <p>Miles de recetas para realizar en tu hogar...</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ion-item class="username-item">
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input 
          type="text" 
          formControlName="nombre" 
          required
        ></ion-input>
        <div *ngIf="registerForm.get('nombre')?.errors?.['required'] && registerForm.get('nombre')?.touched" class="error-message">
          Nombre de usuario es requerido
        </div>
        <div *ngIf="registerForm.get('nombre')?.errors?.['minlength'] && registerForm.get('nombre')?.touched" class="error-message">
          El nombre de usuario debe tener al menos 8 caracteres y un número
        </div>
      </ion-item>

      <ion-item class="email-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input 
          type="email" 
          formControlName="email" 
          required
        ></ion-input>
        <div *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched" class="error-message">
          Correo electrónico es requerido
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched" class="error-message">
          Correo electrónico no válido
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          type="password" 
          formControlName="password" 
          required
        ></ion-input>
        <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched" class="error-message">
          Contraseña es requerida
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched" class="error-message">
          La contraseña debe tener al menos 6 caracteres
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input 
          type="password" 
          formControlName="confirmPassword" 
          required
        ></ion-input>
        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && registerForm.get('confirmPassword')?.touched" class="error-message">
          Confirmar contraseña es requerida
        </div>
        <div *ngIf="registerForm.errors && registerForm.errors['mismatch'] && registerForm.get('confirmPassword')?.touched" class="error-message">
          Las contraseñas no coinciden
        </div>
      </ion-item>
      <div *ngIf="errorMessage" class="error-message" color="danger">
        {{ errorMessage }}
      </div>
      <ion-button 
      type="submit"
      expand="full"
      [disabled]="!registerForm.valid"> 
        Registrarse
      </ion-button>
    </form>


    <!-- Botón para volver al login -->
    <ion-button 
      expand="full" 
      fill="outline" 
      (click)="goToLogin()"
    >
      Volver
    </ion-button>
  </div>
</ion-content>
