
ion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative; 
  --background: url('/assets/img/fondo_receta.jpg') no-repeat center center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.register-container {
  max-width: 100%;   
  width: 400px;   
  margin: 150px auto;  
  padding: 20px;   
  border-radius: 12px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 2); 
  background-color: #ffffff; 
  position: relative; 
}

.header-text {
  text-align: center; 
  margin-bottom: 20px; 
}

h1, p {
  color: #000000;
  margin-top: 20px;
}

.header-text h1 {
  margin: 0; 
  font-size: 1.5rem; 
}

.header-text p {
  margin: 0; 
  font-size: 1rem; 
}

ion-item {
  --background: #f8f9fa; 
  --border-radius: 8px; 
  margin-bottom: 16px; 
  padding: 10px;
  --color: #000000; 
}

ion-label, ion-input {
  --color: #000000; 
}

.error-message {
  color: red;
  font-size: 0.875rem; 
  margin-top: 5px; 
}

.invalid {
  border-color: red; 
}

.icon-container {
  position: absolute; /* Usa fixed para mantener el icono en su lugar durante el scroll */
  top: 10px; /* Ajusta la distancia desde la parte superior */
  left: 50%; /* Posiciona el contenedor a la mitad horizontal */
  transform: translateX(-50%); /* Centra el icono horizontalmente */
  z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
  display: flex; /* Usa flexbox para centrar el icono dentro del contenedor */
  justify-content: center; /* Centra el icono horizontalmente */
  align-items: center; /* Centra el icono verticalmente */
}

.icon-container img {
  width: 160px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción del icono */
}

ion-button{
  --background: #7b6b4e;     
  color: #ffffff;
}

h1,p{
    color: #000000;
}

  ion-item {
    position: relative; /* Establece posición relativa para los elementos hijos absolutos */
    margin-bottom: 16px;
    --background: #ffffff; /* Fondo blanco para el contenedor del item */
    --border-radius: 12px; /* Esquinas redondeadas */
    --padding: 0; /* Elimina el padding para que el fondo sea uniforme */
    border: none; /* Elimina el borde del item */
    color: #000000;
  }
  
  ion-input {
    --background: transparent; /* Fondo transparente para el campo de entrada */
    --border-radius: 12px; /* Esquinas redondeadas para el campo de entrada */
    --color: #000000; /* Color del texto dentro del campo de entrada */
    border: none; /* Elimina el borde del campo de entrada */

  }
  
  ion-label {
    color: #000000; 
  }
  
  .error-message {
    font-size: 0.75em;
    color: rgb(255, 0, 0); /* Color rojo para el texto del mensaje de error */
    margin-top: 4px; /* Espacio entre el campo de entrada y el mensaje de error */
  }

