<ion-content>
  <div class="gradient"><div class="background"></div></div>
  <div id="body">
    <ion-header>
      <ion-toolbar id="searchbar">
        <ion-searchbar
          placeholder="Buscar recetas"
          animated="true"
        ></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <div id="armabtn">
      <ion-button size="small" color="custom-color">
        <ion-icon slot="end" name="color-fill-outline"></ion-icon>
        Arma tu menu
      </ion-button>
    </div>
    <div id="cartamenu">
      <ion-card>
        <img
          alt="arma tu menu"
          src="https://tucomercio.co/laoficina/images/thumbs/0001193_arma-tu-menu-desde-15000-septiembre-04_550.png"
        />
        <ion-card-header>
          <ion-card-title>Receta del dia </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Selecciona que ingredientes tienes para tu menu.
        </ion-card-content>
        <ion-button id="crearbtn" color="custom-color">Crear</ion-button>
      </ion-card>
    </div>
    <div></div>
  </div>
</ion-content>
