/* Estilos generales */
ion-content {
  --background: #fff;  /* Fondo blanco */
  padding: 16px;
  color: #000; /* Texto negro */
}
 ion-label{
  color: #000;
  background-color: white;
 }

 item-native{
  color: white;
  background-color: white;
 }
/* Estilos para la introducción de texto */
.intro-text {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.1rem;
  color: #000; /* Texto negro */
}

.intro-text p {
  line-height: 1.6;
}

/* Spinner de carga */
.loading-spinner {
  display: block;
  margin: 30px auto;
}

/* Contenedor de la lista de recetas */
.recipe-container {
  margin-top: 20px;
}

.recipe-list {
  padding: 0;
}

ion-item {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #fff;  /* Fondo blanco */
  color: #000; /* Texto negro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000; /* Texto negro */
  flex: 1;
}

/* Estilos para el botón de eliminar */
ion-button[color='danger'] {
  --background: #ff4d4d;
  --color: white;
  --border-radius: 8px;
}

ion-button[color='danger'] ion-icon {
  margin-right: 8px;
}

/* Estilos cuando no hay recetas */
.no-recipes {
  text-align: center;
  font-size: 1.2rem;
  color: #000; /* Texto negro */
  margin-top: 50px;
}

/* Estilo del contenedor de "Buscar receta" */
.ask-ai-container {
  margin-top: 30px;
}

.ask-ai-container ion-button {
  background-color: #4CAF50;
  color: white;
  border-radius: 25px;
  font-weight: bold;
}

/* Añadir hover al botón de "Buscar receta" */
.ask-ai-container ion-button:hover {
  background-color: #45a049;
}
