ion-content {
  --background: #fafafa; /* Fondo claro */
  padding: 16px;
}

ion-toolbar {
  background-color: #ffffff; /* Blanco para el header */
  --color: #333; /* Texto oscuro */
  border-bottom: 1px solid #ddd; /* Línea sutil en la parte inferior */
}

ion-back-button {
  color: #333; /* Color de texto oscuro */
}

h1, h2 {
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin: 0;
}

p {
  font-size: 1em;
  color: #666; /* Gris oscuro */
  line-height: 1.6;
  text-align: center;
}

/* Estilo para el texto introductorio */
.intro-text {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 1em;
  color: #666;
}

/* Estilo para las recetas guardadas */
.recipe-list {
  margin-top: 20px;
}

ion-item {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 1em;
  color: #333;
  border: 1px solid #e0e0e0; /* Borde sutil */
}

ion-item .recipe-name {
  font-weight: 500;
}

/* Botón de eliminar */
ion-button {
  --background: transparent; /* Botón sin fondo */
  --color: #e74c3c; /* Rojo para eliminar */
  font-weight: normal;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 0.9em;
}

ion-button:focus {
  outline: none; /* Eliminar el contorno al hacer clic */
}

.no-recipes {
  text-align: center;
  font-size: 1.1em;
  color: #999;
  margin-top: 20px;
}

/* Botón "Buscar receta" */
.ask-ai-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ask-ai-container ion-button {
  --background: transparent;
  --color: #007bff; /* Azul */
  --border-radius: 50px;
  border: 1px solid #007bff;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.ask-ai-container ion-button:hover {
  --color: #0056b3; /* Azul más oscuro al pasar el mouse */
  border: 1px solid #0056b3;
}
