<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recetas Guardadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Texto introductorio para la página -->
  <div class="intro-text">
    <p>
      Bienvenido a tu espacio de recetas guardadas. Aquí puedes ver todas las recetas que has almacenado. 
      Si encuentras alguna receta que ya no necesitas, puedes eliminarla con facilidad. ¡Empieza a explorar!
    </p>
  </div>

  <!-- Mostrar indicador de carga mientras se cargan las recetas -->
  <ion-spinner *ngIf="loading" name="crescent" class="loading-spinner"></ion-spinner>

  <!-- Mostrar las recetas guardadas -->
  <div *ngIf="recipes.length > 0">
    <ion-list class="recipe-list">
      <ion-item *ngFor="let recipe of recipes">
        <ion-label class="recipe-name">{{ recipe.recipe }}</ion-label> <!-- Mostrar el nombre de la receta -->
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="deleteRecipe(recipe.id)">
            <ion-icon name="trash-outline"></ion-icon> Eliminar
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>

  <!-- Mostrar un mensaje si no hay recetas guardadas -->
  <div *ngIf="recipes.length === 0 && !loading" class="no-recipes">
    <p>No tienes recetas guardadas aún. ¡Guarda una receta!</p>
  </div>

  <!-- Contenedor para el texto y el botón alineados -->
  <div class="ask-ai-container">
    <ion-button expand="full" fill="clear" (click)="goToOpenAI()">
      Buscar receta
    </ion-button>
  </div>
</ion-content>
