<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Comparte tu receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Texto explicativo -->
  <div class="explanation">
    <h2>¿Quieres compartir tu receta?</h2>
    <p>
      Las recetas caseras son el corazón de cada hogar. Comparte tu receta especial y deja que otros disfruten de tus creaciones deliciosas. 
      ¡Haz que tu receta brille y llegue a quienes valoran la comida hecha con amor!
    </p>
  </div>

  <!-- Formulario -->
  <form (ngSubmit)="saveShare()">
    <ion-item>
      <ion-label position="floating">Nombre :</ion-label>
      <ion-input name="recipeName" [(ngModel)]="shareName" required></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Ingredientes :</ion-label>
      <ion-button fill="clear" size="small" (click)="addIngredient()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-list>
      <ion-item *ngFor="let ingredient of ingredients; let i = index; trackBy: trackByIndex">
        <ion-input [name]="'ingredient' + i" [(ngModel)]="ingredients[i]" placeholder="Ingrediente" required></ion-input>
        <ion-button fill="clear" slot="end" (click)="removeIngredient(i)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list-header>
      <ion-label>Instrucciones :</ion-label>
      <ion-button fill="clear" size="small" (click)="addInstruction()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-list>
      <ion-item *ngFor="let instruction of instructions; let i = index; trackBy: trackByIndex">
        <ion-input [name]="'instruction' + i" [(ngModel)]="instructions[i]" placeholder="Agregar paso" required></ion-input>
        <ion-button fill="clear" slot="end" (click)="removeInstruction(i)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-button expand="block" type="submit">Guardar</ion-button>
  </form>
</ion-content>
